.white-panel
{
    background-color:#fff;
  
    padding:0;
    color:#333;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:1px solid #dadada;
}

.content {
    padding-left:25px;
    padding-right:30px;	
    padding-bottom:20px;
}

.pagetitle {
    padding-left:25px;
    padding-right:25px;
}

.title {
    margin-top:35px;
    margin-bottom:15px;
}

.section{
    padding-top:10px;
    padding-left:25px;
    font-size:25px;
}

.paragraph{
    padding-top:10px;
    padding-left:25px;
    padding-right:25px;
    text-align:justify;
}

.indented {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}