/* ---- small screens ---- */
html{
  font-size: 62.5%;
}

body {
  background: #ffffff;
  margin: 0;
  color: #333;
  font-size: 1.6rem;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

a{
    text-decoration: none;
    color: #444;
}
::selection {
  background: #7344ff;
  color: #ffffff;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.repletion-box{
  background: #f2f2f2;
  padding: 20px;
  font-size:1.4rem;
  width: 70%;
  margin: 0 auto 40px auto;
}

.repletion-box p{
  margin: 0;
}

p {
  line-height: 2;
}

a i{
  color: #333;
  text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  margin: 0 auto;
  display: block;
}

a.btn {
  display: block;
  /*width: 180px;*/
  padding: 1.6rem 2.4rem;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
  color: #444;
  margin: 0 auto;
  border: 1px solid #444;
  transition: .4s;
  font-weight: normal;
  font-size: 1.4rem;
}

a.btn:hover {
  color: #fff;
  background: #444;
}


body > section {
  padding: 60px 0;
}

body > section:nth-of-type(odd) {
  background: #e3ff90;
}

.section-top{
  margin: 0 0 60px;
}

.section-title {
  text-align: center;
  font-weight:600;
  font-style:italic;
  font-size: 3.6rem;
}

.section-summary{
  margin: 30px 0 0 0;
  text-align:center;
}

#menu{
  position: absolute;
  top:0;
  left:0;
  right:0;
  background: rgba(51, 51, 51, .9);
  color:#fff;
  display: none;
  font-weight:600;
  font-style:italic;
}

#menu.shown {
  display: block;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

#menu li {
  line-height: 2;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#open_menu {
  float: right;
  cursor: pointer;
  padding-top: 15px;
}

#close_menu {
  padding: 15px;
  float: right;
  cursor: pointer;
}

.single {
/*  background-size: auto 100%;*/
  text-align: center;
}

.space{
    padding: 150px 0;
}

.font-bigger{
  font-size: 2rem;
}

.font-smaller{
  font-size: 1.4rem;
}

.font-border{
  font-weight:600;
}

h1{
  font-weight:600;
  font-style:italic;
  color: #ffffff;
  display: inline-block;
  background: #333;
  padding: 1px 5px;
  margin: 10px 0 0 0;
  font-size: 3.6rem;
}

.single p{
  margin: 50px 0 30px 0;
}

.single a i{
  margin-top: : 300px
}

.triple-item{
  text-align: center;
}

.triple-item h3 {
  text-align: center;
  font-weight:600;
  font-style:italic;
  font-size: 2.6rem;
  color: #ffffff;
  display: inline-block;
  padding: 1px 10px;
  background:#444;
}

.triple-item p {
  margin-top: 0px;
}

.triple-item:not(:last-child) {
  margin-bottom: 40px;
}

.double-item img,iframe {
  width: 100%;
}

.double-img img,iframe {
  width: 100%;
  margin-bottom: 30px;
}


.double-item:not(:last-child) {
  margin-bottom: 60px;
}

.double-item h3 {
  font-size: 1.4rem;
  line-height:3.6rem;
  font-style:italic;
}
.double-item h3 span{
  font-size: 2.8rem;
}

footer{
  text-align: center;
  padding: 40px 0 20px 0;
  color: #333;
}

footer a{
  font-size: 3rem;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.history-index{
  list-style: none;
  background-color: #ffffff;
  padding:15px;
  text-align: center;
}
.history-index li{
  margin: 5px 0;
}

dt{
  margin: 15px 0 10px 0;
  font-weight: 600;
}

dd{
  font-size: 1.4rem;
  margin: 0;
}

.project-ttl{
  font-size: 1.5rem;
  color: #333;
  background-color: #e3ff90;
  line-height: 4.5rem;
}
.project-ttl span{
  font-size: 4rem;
}
.project-summary{
  background-color: #ffffff;
  padding: 25px;
}

.width-full{
  width: 100%;
  margin-bottom: 30px;
}

.project-ttl-sub{
  border-left: solid 8px #444;
/*  border-bottom: solid 1px #444;*/
  padding: 0 0 0 30px;
  margin: 50px 0;
}

/* ---- medium screens ---- */
@media (min-width: 570px) {

  .triple .flex {
    display: flex;
    justify-content: space-between;
  }

  .triple-item {
    width: 30%;
  }

  .double-item img,iframe {
    width: 47%;
  }

  .double-img img,iframe {
    width: 47%;
  }

  .double-img img:nth-of-type(even) {
    float: right;
  }


  .double-txt {
    width: 47%;
    float: right;
    padding-left: 6%;
  }

/*  .double-cts {
    overflow: hidden;
  }*/


}

/* ---- large screens ---- */
@media (min-width: 912px) {

  .container {
    width: 900px;
  }

  #open_menu {
    display: none;
  }

  #close_menu {
    display: none;
  }

  #menu {
    display: block;
    position: static;
    background: transparent;
    color: #333;
  }

  #menu ul {
    padding: 0;
    float: right;
  }

  #menu li {
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-top: 10px;
  }

  .history-index{
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 50px;
  }
  .history-index li{
    padding: 0 10px;
  }
